* {
  padding: 0;
  margin: 0;
  font-family: "ABeeZee", sans-serif;
  box-sizing: border-box;
}
.button-base-style {
  font-weight: bold;
  font-size: 12pt;
  padding: 15px 35px;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  margin-right: 15px;
}
.button-base-style:hover {
  cursor: pointer;
}
.green-button {
  color: white;
  background-color: #b2dd4c;
  border: 2px solid #b2dd4c;
}
.green-button:hover {
  background-color: #9dcf27;
  border: 2px solid #9dcf27;
}
.white-gray-button {
  color: #767676;
  background-color: #f5f5f5;
  border: 2px solid #dcdcdc;
}
.white-gray-button:hover {
  background-color: #dcdcdc;
}
svg {
  display: block;
  width: 100%;
  height: 150px;
  background: transparent;
}
svg polygon {
  fill: #fff;
}
/* Header Section Styling*/
.header-background {
  background-image: url(../assets/photos/background.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100% 100%;
}
#site-header {
  position: relative;
}
#site-header #navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
#site-header #navigation-bar img {
  width: 160px;
  cursor: pointer;
}
#site-header #navigation-bar nav ul {
  list-style: none;
}
#site-header #navigation-bar nav ul li {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px;
  color: #767676;
  font-weight: bold;
}
#site-header #navigation-bar nav ul li:hover {
  color: white;
  background-color: #b2dd4c;
  cursor: pointer;
  border-radius: 3px;
}
#site-header #navigation-bar nav ul .shop-cart-icon {
  position: relative;
}
#site-header #navigation-bar nav ul .shop-cart-icon:hover {
  background: none;
  color: #767676;
}
#site-header #navigation-bar nav ul .shop-cart-icon::after {
  content: "0";
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #b2dd4c;
  color: white;
  font-size: 10pt;
  text-align: center;
  right: 3px;
  top: 2px;
  border-radius: 3px;
}
#site-header #navigation-bar nav ul .search-icon:hover {
  background: none;
  color: #767676;
}
#site-header #header-intro-text {
  padding: 8% 10%;
}
#site-header #header-intro-text h1 {
  font-weight: bolder;
  font-size: 48pt;
  font-family: "Raleway";
  margin-bottom: 20px;
}
#site-header #header-intro-text p {
  color: #767676;
  margin-bottom: 20px;
  width: 40%;
}
/* Feature and Specification Section Styling */
#features-section .features-section-header {
  text-align: center;
}
#features-section .features-section-header h1 {
  font-size: 24pt;
  margin: 20px 0;
}
#features-section .features-section-header p {
  font-size: 12pt;
  color: #767676;
}
#features-section .features-section-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 80px 45px;
}
#features-section .features-section-cards .card {
  text-align: center;
}
#features-section .features-section-cards .card .features-section-image {
  color: #fff;
  font-size: 36pt;
  background-color: #b2dd4c;
  display: inline-block;
  padding: 30px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
#features-section .features-section-cards .card h2 {
  margin: 30px 0;
}
#features-section .features-section-cards .card p {
  color: #767676;
  margin: 25px 0;
}
/*Offers Section*/
#offers-section {
  position: relative;
  background-color: #f5f5f5;
}
#offers-section #offers-section-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
#offers-section #offers-section-container #offers-section-text {
  width: 80%;
  margin-top: 150px;
}
#offers-section #offers-section-container #offers-section-text h1 {
  font-size: 24pt;
  margin: 30px 0;
}
#offers-section #offers-section-container #offers-section-text h2 {
  font-size: 12pt;
  color: #767676;
  margin: 30px 0;
}
#offers-section #offers-section-container #offers-section-text p {
  font-size: 10pt;
  color: #767676;
  margin: 30px 0;
}
#offers-section #offers-section-container #offers-section-text button {
  width: 165px;
  height: 57px;
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#offers-section #offers-section-container #offers-section-text .apple-store {
  background-image: url(../assets/icons/app-store.png);
}
#offers-section #offers-section-container #offers-section-text .apple-store:hover {
  background-image: url(../assets/icons/app-store-green.png);
}
#offers-section #offers-section-container #offers-section-text .play-store {
  background-image: url(../assets/icons/play-store.png);
}
#offers-section #offers-section-container #offers-section-text .play-store:hover {
  background-image: url(../assets/icons/play-store-green.png);
}
#offers-section .bottom-diagonal {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
/*Related Products Section*/
#related-products-section {
  width: 85%;
  margin: 0 auto;
}
#related-products-section #related-products-section-header {
  text-align: center;
}
#related-products-section #related-products-section-header h1 {
  font-size: 24pt;
  margin: 20px 0;
}
#related-products-section #related-products-section-header p {
  font-size: 12pt;
  color: #767676;
}
#related-products-section #related-product-section-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.5rem;
  margin: 4rem 0;
}
#related-products-section #related-product-section-cards-container .card {
  display: grid;
}
#related-products-section #related-product-section-cards-container .card img {
  width: 100%;
}
#related-products-section #related-product-section-cards-container .card .brief-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 1.5rem;
  border: 2px solid #dcdcdc;
}
#related-products-section #related-product-section-cards-container .card .brief-info span.price {
  font-size: 9pt;
  color: #767676;
}
#related-products-section #related-product-section-cards-container .card .brief-info .ratings .green-star {
  color: #b2dd4c;
  font-weight: bolder;
  font-size: 14pt;
}
#related-products-section #related-product-section-cards-container .card .brief-info .ratings .white-star {
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #b2dd4c;
  font-weight: bolder;
  font-size: 14pt;
}
#related-products-section #related-product-section-cards-container .card .more-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#related-products-section #related-product-section-cards-container .card .more-details button {
  background-color: white;
  border: 2px solid #dcdcdc;
  padding: 1rem 1.5rem;
  font-size: 10pt;
  text-transform: uppercase;
  color: #767676;
  font-weight: bold;
  border-bottom-left-radius: 3px;
  border-top: none;
}
#related-products-section #related-product-section-cards-container .card .more-details button:nth-child(1) {
  border-right: none;
  border-bottom-right-radius: 0;
}
#related-products-section #related-product-section-cards-container .card .more-details button:nth-child(2) {
  border-bottom-left-radius: 0;
}
#related-products-section #related-product-section-cards-container .card .more-details button:hover {
  cursor: pointer;
  background-color: #dcdcdc;
}
/*Add to Cart Section*/
#add-to-cart {
  background-color: #f5f5f5;
  display: flex;
  padding: 2rem 5rem;
  align-items: center;
}
#add-to-cart p {
  color: #767676;
  font-size: 13pt;
}
#add-to-cart button {
  margin-left: auto;
}
/*Footer*/
#footer {
  text-align: center;
  padding: 2rem 4rem;
  background-color: #404040;
  color: #f5f5f5;
}
